<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.EduWebsiteImagesMapper">
	<select id="findAdImgAll" parameterType="EduWebsiteImages" resultType="EduWebsiteImages">
		select edu_website_images.image_id, edu_website_images.image_url, edu_website_images.link_address, edu_website_images.title, edu_website_images.type_id, edu_website_images.series_number, edu_website_images.preview_url, edu_website_images.color, edu_website_images.describe , edu_website_images_type.type_name 
		from edu_website_images left join edu_website_images_type on edu_website_images_type.type_id =edu_website_images.type_id where 0=0 
		<if test="title!=null and title!=''">
			and edu_website_images.title like '%${title}%'
		</if>
		<if test="type_id!=null and type_id!=''">
			and edu_website_images.type_id=#{type_id}
		</if>
		order by edu_website_images_type.type_id,edu_website_images.series_number
	</select>
	<!-- 根据id删除广告图 -->
	<delete id="delAdImgById" parameterType="java.lang.Integer">
		delete from edu_website_images where image_id = #{image_id}
	</delete>
	<!-- 新建广告图 -->
	<insert id="addImg" parameterType="EduWebsiteImages">
		insert into edu_website_images
		(image_id,image_url,link_address,title,type_id,series_number,preview_url,color,describe ) 
		value( null, #{image_url}, #{link_address}, #{title}, #{type_id}, #{series_number}, #{preview_url}, #{color}, #{describe} ) 
	</insert>
	<!-- 根据id查询广告图信息 -->
	<select id="getImgById" parameterType="java.lang.Integer" resultType="EduWebsiteImages">
		select * from edu_website_images where image_id = #{image_id}
	</select>
	
	
	
	<!-- *******************广告类型********************  -->
	<!-- 获取所有图片类型 -->
	<select id="findAdImgTypeAll" resultType="EduWebsiteImagesType">
		select type_id,type_name from edu_website_images_type 
	</select>
	<!-- 添加广告图片类型 -->
	<insert id="AddAdImgType" parameterType="EduWebsiteImagesType">
		insert into edu_website_images_type values(null,#{type_name})
	</insert>
	<!-- 根据Id删除广告类型 -->
	<delete id="delAdImgTypeById" parameterType="java.lang.Integer">
		delete from edu_website_images_type where type_id = #{type_id}
	</delete>
	<!-- 修改广告类型名称 -->
	<update id="upAdImgTypeById" parameterType="EduWebsiteImagesType">
		update edu_website_images_type set type_name=#{type_name} where type_id=#{type_id}
	</update>
</mapper>
