<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.Tm_paperMapper">

	<select id="findtm_paper" resultType="Tm_paper" parameterType="Tm_paper">
		SELECT P_ID, P_NAME, P_CID, P_STATUS, P_STARTTIME, P_ENDTIME, P_DURATION, P_SHOWTIME, P_TOTAL_SCORE, P_PASS_SCORE, P_QUESTION_ORDER, P_PAPERTYPE, P_REMARK, P_DATA, P_POSTER, P_CREATEDATE, P_MODIFYOR, P_MODIFYDATE, P_SHOWKEY, P_SHOWMODE 
		FROM TM_PAPER where 0=0
		<if test="p_name!=null and p_name!=''">
			and P_NAME=#{p_name} 
		</if>
		<if test="p_status!=null and p_status!=''">
			and P_STATUS=#{p_status} 
		</if>
		<if test="p_question_order!=null and p_question_order!=''">
			and p_question_order=#{p_question_order} 
		</if>
		<if test="p_cid!=null and p_cid!=''">
			and p_cid=#{p_cid}
		</if>
		 ORDER BY TM_PAPER.P_CREATEDATE DESC
	</select>
	
	<select id="findcategoryname" resultType="Map">
		select c_id, c_name from tm_paper_category
	</select>
	
	<insert id="addtm_paper" parameterType="Tm_paper" useGeneratedKeys="true"  keyProperty="p_id">
		INSERT INTO 
		TM_PAPER ( P_ID, P_NAME, P_CID, P_STATUS, P_STARTTIME, P_ENDTIME, P_DURATION, P_SHOWTIME, P_TOTAL_SCORE, P_PASS_SCORE, P_QUESTION_ORDER, P_PAPERTYPE, P_REMARK, P_DATA, P_POSTER, P_CREATEDATE, P_MODIFYOR, P_MODIFYDATE, P_SHOWKEY, P_SHOWMODE ) 
		VALUES(null ,#{p_name} ,#{p_cid} ,#{p_status} ,#{p_starttime} ,#{p_endtime} ,#{p_duration} ,#{p_showtime} ,#{p_total_score} ,#{p_pass_score} ,#{p_question_order} ,#{p_papertype} ,#{p_remark} ,#{p_data} ,'inxedu教育',now(),'inxedu教育' ,now(),1,1 ) 
	</insert>
	
	<insert id="addpaper_class" parameterType="Paper_class">
		INSERT INTO EDU_PAPER_CLASS ( LN_PID,LN_BUID,LN_TYPE ) VALUES( #{ln_pid},#{ln_buid},#{ln_type} ) 
	</insert>
	
	<select id="findcnameandcid" resultType="java.util.Map">
		select c_id,c_name from tm_paper_category
	</select>
	
	<delete id="deltm_paperbyid" parameterType="java.lang.Integer">
		delete from TM_PAPER where P_ID = #{p_id}
	</delete>
	
	<select id="findtm_paperbypid" parameterType="java.lang.Integer" resultType="Tm_paper">
		SELECT P_ID, P_NAME, P_CID, P_STATUS, P_STARTTIME, P_ENDTIME, P_DURATION, P_SHOWTIME, P_TOTAL_SCORE, P_PASS_SCORE, P_QUESTION_ORDER, P_PAPERTYPE, P_REMARK, P_DATA, P_POSTER, P_CREATEDATE, P_MODIFYOR, P_MODIFYDATE, P_SHOWKEY, P_SHOWMODE 
		FROM TM_PAPER WHERE P_ID = #{p_id}
	</select>
	
	<update id="updatetmpaper" parameterType="Tm_paper"  useGeneratedKeys="true"  keyProperty="p_id">
	UPDATE TM_PAPER 
	SET P_NAME=#{p_name}, P_CID=#{p_cid}, P_STATUS=#{p_status}, P_STARTTIME=#{p_starttime}, P_ENDTIME=#{p_endtime}, P_DURATION=#{p_duration}, P_SHOWTIME=#{p_showtime}, P_TOTAL_SCORE=#{p_total_score}, P_PASS_SCORE=#{p_pass_score}, P_QUESTION_ORDER=#{p_question_order}, P_PAPERTYPE=#{p_papertype}, P_REMARK=#{p_remark}, P_DATA=#{p_data}, P_MODIFYOR='inxedu教育', P_MODIFYDATE=now()
	WHERE P_ID = #{p_id} 
	</update>
	
	<delete id="delpaper_classbyid" parameterType="java.lang.Integer">
		DELETE FROM EDU_PAPER_CLASS WHERE LN_PID=#{ln_pid}
	</delete>
</mapper>